
.wrapper-course-card{
    flex-direction: column;
    padding: 20px;
}

.wrapper-course-card-2{
    padding: 10px 0px;
}

.container-card{
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: row;
    min-height: 200px;
    max-width: 1190px;
    min-width: 1190px;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: #9b9b9b;
    border-radius: 20px;
}

.wrapper-left{
    flex: 0 0 70% ;
    
}

.wrapper-right{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-course{
    font-size: 40px;
    padding: 0px 0px 20px 0px;
    font-weight: 600;
}

.text-course{
    font-size: 18px;
    min-width: 800px;
}

.right-course-info-up{
    font-size: 20px;
}

.autors-course{
    padding: 10px;
}

.duration-course{
    padding: 10px;
}

.created-course{
    padding: 10px;
}

.btn-course-card button{
    width: 150px;
    height: 30px;
    font-size: 15px;
}

.btn-course-card {
    padding: 10px;
}