.wrapper-header{
   display: flex;
   flex-direction: row; 
   justify-content: space-between;
   align-items: center;
    max-height: 100px;
    min-height: 90px;
    border: 2px solid brown;
    margin: 0 auto;
    
}

.navbar-right{
    display: flex;
    flex-direction: row;  
}

.logo{
    padding: 10px;
}

.name{
    padding: 0px 40px;
    font-size: 20px;
}

.btn-wrapper button {
    width: 120px;
    height: 30px;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.btn-wrapper button a {
    
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.btn-start{
    text-decoration: none;
    color: #000;
    width: 200px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 2px solid rgb(0, 0, 0);
}



